<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar sitio</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="container-principal">
        <div id="sidebar">
            <div class="container-logo">
                <img src="/public/img/FCYT.png" alt="logotipo" class="logo" >
                <h2 class="title">Sistema de parqueo FCYT</h2>
            </div> 
            <div class="line"></div>
            <div class="container-menu">
                <div class="container-user">
                    <img src="/public/img/Usuario.png" alt="usuario" class="logo-user">
                    <div class="info-user">
                        <h3 class="info">JHONNY HERBAS APAICO</h3>
                        <h4 class="info">Administrador</h4>
                    </div>                
                </div>
            </div>
        </div>
        <div id="modelo">


            
            
            <div class="container-superior">
                <form action="" method="get">
                    <div class="input-container">
                        <div class="container-input-buscar">
                            <input type="text" class="input-buscar">
                        </div>
                        <div class="container-button-buscar">
                            <input type="button" value="Buscar" class="button-buscar">
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-modelo">
                <div class="container-visual">
                    
                </div>
            </div>
        



        </div>
    </div>
</body>
</html>