<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar sitio</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <div id="menu-bars" class="fas fa-bars"></div>
    <header>
        <div class="container-logo">
            <a href="" class="logo">
                <img src="/public/img/FCYT.png" alt="logo" class="logo">
            </a>
            <h2>Sistema de parqueo FCYT</h2>
        </div>
        <div class="line"></div>

        <div class="container-user">
            <img src="/public/img/Usuario.png" alt="usuario" class="logo">
            <div class="info-user">
                <h3 class="info">USER NAME</h3>
                <h4 class="info">Administrador</h4>
            </div>                
        </div>

        <nav class="navbar">
            <ul>
                <a href="">Inicio</a>
                <li><a href="">Visualizar</a></li>
                <li><a href="">Configurar horario</a></li>
                <li><a href="">Ver solicitudes</a></li>
            </ul>
        </nav>

        <div class="redes_sociales">
            <a href="https://www.facebook.com/fcytumssOficial" target="_blank" class="fab fa-facebook-f"></a>
            <a href="http://abcd.fcyt.umss.edu.bo/cgi-bin//wxis/iah/scripts/?IsisScript=iah.xis&lang=es&base=TECLI" target="_blank" class="fa-solid fa-book"></a>
        </div>
    </header>
    <main>
        <div class="container-busqueda">
            <form action="" method="">
                <div class="input-container">
                    <div class="container-input-buscar">
                        <input type="text" class="input-buscar">
                    </div>
                    <div class="container-button-buscar">
                        <input type="submit" value="Buscar" class="button-buscar">
                    </div>
                </div>
            </form>
        </div> 
        <div class="container-main">
            
        </div>
    </main>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/bootstrap.bundle.js"></script>
</body>
</html>